/* Table styling */
.MuiSvgIcon-root path {
  background: rgba(76, 154, 226, 0.25);
  border-radius: 8px;
  fill: rgba(70, 68, 68, 0.25);
  stroke: rgba(196, 196, 196, 0.25);
}

.MuiDataGrid-root .MuiDataGrid-cell {
  border: none !important;
}

.MuiDataGrid-columnSeparator {
  display: none !important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer {
  justify-content: center;
}

/* ============================= */

input::placeholder {
  color: rgb(107, 106, 106);
  font-family: Poppins;
}

#dropdown-basic::after {
  display: none;
}
#dropdown-basic:focus {
  box-shadow: none;
}

/* React Modal dependencies styling */
.ReactModal__Overlay--after-open {
  background-color: #4e4e4e49 !important;
}
/* scroll bar styling  */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255);
  background-color: #ffffff;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #dad8d8;
  border: none;
  width: 5px;
}

/* Sidebar styling */
.icons {
  margin-right: 10px;
}
@media only screen and (max-width: 800px){
 .icons {
   width: 20px;
   height: 20px;
 }  
}

.side_nav:hover {
  background: #0075ff;
  border-radius: 12px;
}
.side_nav:hover .title {
  color: rgb(255, 255, 255);
}
.side_nav:hover .icons > g > path {
  stroke: #ffffff;
  fill: #ffffff;
}
.side_nav:hover .icons > g > g > path {
  stroke: #ffffff;
  fill: #ffffff;
}
.side_nav:hover .icons > path {
  stroke: #ffffff;
  fill: #ffffff;
}
.active {
  background: #0075ff;
  border-radius: 12px;
}
.active .title {
  color: rgb(255, 255, 255);
}
.active .icons > g > path {
  stroke: #ffffff;
  fill: #ffffff;
}
.active .icons > g > g > path {
  stroke: #ffffff;
  fill: #ffffff;
}
.active .icons > path {
  stroke: #ffffff;
  fill: #ffffff;
}