
.icons{
    margin-right: 10px; 
}
/* .icons path{
    stroke: #ffffff;
    /* stroke-width: 1px; */

/* a:hover >.icons> g{
    stroke: #ffffff;
    fill: #ffffff;
} */
/* a:hover >.icons> path{
    stroke: #ffffff;
    fill: #ffffff;
}
a:hover >.icons>  g > path{
    stroke: #ffffff;
    fill: #ffffff;
} */

/* .icons> g > path{
    fill: #ff2f2f !important;
} */


.MuiSvgIcon-root path {
    background: rgba(196, 196, 196, 0.25);
border-radius: 8px;
fill: rgba(70, 68, 68, 0.25);
stroke: rgba(196, 196, 196, 0.25);
}

.MuiDataGrid-root .MuiDataGrid-cell{
border: none !important;

}

.MuiDataGrid-columnSeparator {
    display: none !important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer {
    
    justify-content: center;
}